<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/pokestyle.css">
    <title>Pokemon</title>
  </head>
  <body>
    <h1><a href = "/pokemons">Pokemon</a></h1>

    <nav>
      <a href="/pokemons/new">Add a Pokemon</a>
    </nav>
    <%= yield %>
  </body>
</html>
